.App {
  background-color: rgb(61, 39, 43);
 height: 100vh;
}

.mainList {
  background-color: rgba(182, 122, 145, 0.856);
margin-top:0;
list-style: none;
text-align: left;

}
.mainItem  {
  margin-right: 20px;
display: inline-block;
margin:20px;

margin-bottom: 20px;

}

.link {
  text-decoration: none;
  color:white;
  font-family: sans-serif;
font-size:20px;
}

.link:hover {
  color: black;

}

#blabla {
  display: none;
  height:10px;
  position: absolute;
  top:40px;
}

#blabla li {
  display:inline-block;
  margin-left:10px;
  color:white;
  cursor: pointer;
}

#blabla li:hover{
  color:black;
}

