.box1 {
    width:900px;
    height: 500px;
    background-color: azure;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border:3px solid white;
    
    overflow-y: auto;

}


.movieImg{
    margin-top:18px;
    margin-left:10px;
    width:300px;
    height: 450px;
    background-color: blue;
    border:5px solid rgb(109, 109, 109);
    border-radius: 4px;
    
}
.movieImg img {
    height: 100%;
    width:100%;
}
.titlee h2 {
    border-bottom:5px solid rgba(146, 146, 146, 0.74);
color:white;
}
.info {
    width:500px;
    height: 400px;
    display: inline;
    position: absolute;
    top:15%;
    left:40%;
    font-family: "Helvetica";
    letter-spacing: 1px;
    color:white;
   
}

.info h3 {
    margin-bottom: 0px;
}